# === Base de Datos MySQL ===
DB_USER=root                 # Usuario de MySQL
DB_PASSWORD=                 # Contraseña de MySQL
DB_NAME=farmacia_carton_pintado
DB_HOST=127.0.0.1
DB_PORT=3306

# === Servidor Express ===
PORT=4000                    # Puerto del backend
NODE_ENV=development         # development | production
JWT_SECRET=cambiar_esta_clave_secreta  # Clave para firmar JWT
CORS_ORIGIN=http://localhost:5000       # Origen permitido para CORS
